.skill-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill-card {
  width: 6rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 15px;
  transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-name {
  margin-top: 10px;
  color: #555;
  font-size: 14px;
}
